%h3 Hello
%form{action: '/repos', method: 'post', id: 'repoform'}
  Repository:
  %input{type: 'text', name: 'repository', label: 'repository', size: "50", value: @repo, autofocus: true}
  %br
  Build Script:
  %textarea{form: 'repoform', name: 'script', cols: "40"}
    = @build_script
  %br
  %br
  %input{type: 'submit', value: 'Add to Integrity'}
