%head
  %script{src: 'repos.js', type: 'text/javascript'}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "repos.css"}
%body
  %h3 Repositories for #{@user}
  %br
  .repo-container
    #repo-list
